{% extends 'base.html' %}

    {% block title %}
    Projects
    {% endblock %}
       
{% block content %}

{% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="text-primary">logout</a>
{% endif %}
    
        
    {% for proj in projects %}
    <h3 class="text-success text-underline"><a href="{% url 'proj_details' proj.id %}"> {{proj.length}}. {{proj.project_name}}</a></h3>
    <p>   {{proj.project_details}}</p>
    
    <hr>
    <br>        
    {% endfor %}
{% endblock %}