{% extends 'base.html' %}

{% block title %}
{{project.project_name}}
{% endblock   %}
{% block content %}
    

    
{% if tasks %}

        <table class="table table-striped table-hover bg-black" >
            <div class="container-fluid">
                <thead>
                    <th>Task</th>
                    <th>Duration(days : hr : min)</th>
                    <th>Details</th>
                    <th >Progress</th>
                </thead>
                <tbody>
                    {% for task in tasks %}
            
                {% if task.project.project_name == project.project_name %}
                    <tr>
                        <td>{{task.task_name}}</td>
                        <td>{{task.time_taken}}</td>
                        <td class="text-break">{{task.task_details|linebreaks}}</td>
                        <td>
                        {% if task.is_completed %}
                            complete
                        {% else %}
                            Pending
                        {% endif %}
                            </td>
                    </tr>
                {% else %}
                    <h2>No tasks</h2>
                {% endif %}
            
            {% endfor %}
                </tbody>
            </div>
        </table>
    {% endif %}
{% endblock %}